{% extends "base.html" %}
{% block css %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

body {
margin: 0;
padding: 0;
background-color: #17a2b8;
height: 100vh;
}
#login .container #login-row #login-column #login-box {
margin-top: 120px;
max-width: 600px;
height: 320px;
border: 1px solid #9C9C9C;
background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
margin-top: -85px;
}

{% endblock %}
{% block scripts %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block content %}
<!-- <div class="container">
  <div class="row">
    <h2>Register</h2>

    <div id="login">
      <h3 class="text-center text-white pt-5"></h3>
      <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
          <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">
              <form id="signup-form" class="form" action={% url 'register' %} method="post">
                {% csrf_token %}

                <h3 class="text-center text-info">Login</h3>
                <div class="form-group">
                  <label for="username" class="text-info">Username:</label><br>
                  <input type="text" name="username" id="username" class="form-control">
                </div>
                <div class="form-group">
                  <label for="password" class="text-info">Password:</label><br>
                  <input type="password" name="password" id="password" class="form-control">
                </div>
                <div class="form-group">
                  <label for="email" class="text-info">Email:</label><br>
                  <input type="text" name="email" id="email" class="form-control">
                </div>
                <div class="form-group">
                  <label for="phone" class="text-info">Phone:</label><br>
                  <input type="text" name="phone_no" id="phone_no" class="form-control">
                </div>
                <div class="form-group">
                  <label for="city" class="text-info">City:</label><br>
                  <input type="text" name="city" id="city" class="form-control">
                </div>
                <div class="form-group">
                  <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                </div>
                <div id="register-link" class="text-right">
                  <a href={% url 'login' %} class="text-info">Login here</a>
                </div>
              </form>
              {% if form.errors %}
              {% for field in form %}
              {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong> {{field.name}} {{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
              {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
  <h2>Sign up</h2>

  <a href="{% url 'home' %}">Home</a> / 
  <a href="{% url 'login' %}">Login</a>
  
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      {{ field.label_tag }}<br/>
      
      {{ field }}
      {% if field.help_text %}
        <small style="color: green">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </div>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
</div>
  {% endblock %}